<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="diffbot" params="prefix">

  <!-- Constants for robot dimensions -->
  <xacro:property name="PI" value="3.1415926535897931"/>
  <xacro:property name="base_mass" value="0.3" /> <!-- arbitrary value for base mass -->
  <xacro:property name="base_width" value="0.2713" />
  <xacro:property name="base_length" value="0.2" />
  <xacro:property name="base_height" value="0.005" />
  <xacro:property name="wheel_mass" value="0.3" /> <!-- arbitrary value for wheel mass -->
  <xacro:property name="wheel_len" value="0.029" />
  <xacro:property name="wheel_radius" value="0.0325" />
  <xacro:property name="caster_wheel_mass" value="0.1" /> <!-- arbitrary value for caster wheel mass -->
  <xacro:property name="caster_wheel_radius" value="0.015" />

  <!-- Base Link -->
  <link name="${prefix}base_link">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${base_width} ${base_length} ${base_height}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <box size="${base_width} ${base_length} ${base_height}"/>
      </geometry>
      <material name="orange"/>
    </visual>
  </link>

  <!-- rear left wheel Link -->
  <link name="${prefix}rear_left_wheel">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_len}" radius="${wheel_radius}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_len}" radius="${wheel_radius}"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- rear right wheel Link -->
  <link name="${prefix}rear_right_wheel">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_len}" radius="${wheel_radius}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_len}" radius="${wheel_radius}"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- front left wheel Link -->
  <link name="${prefix}front_left_wheel">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_len}" radius="${wheel_radius}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_len}" radius="${wheel_radius}"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- front right wheel Link -->
  <link name="${prefix}front_right_wheel">
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_len}" radius="${wheel_radius}"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <cylinder length="${wheel_len}" radius="${wheel_radius}"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>

  <!-- Lidar Link-->
  <link name="${prefix}laser">
    <collision>
      <origin xyz="0 0 0" rpy= "0 0 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.07"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 0" rpy= "0 0 0"/>
      <geometry>
        <cylinder length="0.02" radius="0.07"/>
      </geometry>
    </visual>
  </link>

  <!-- Camera Servo Link-->
  <link name="${prefix}camera_servo">
    <collision>
      <origin xyz="0 0 -0.016" rpy = "0 0 0"/>
      <geometry>
        <cylinder length='0.032' radius = '0.007'/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 -0.016" rpy = "0 0 0"/>
      <geometry>
        <cylinder length='0.032' radius = '0.007'/>
      </geometry>
    </visual>
  </link>

  <!-- Camera Link -->
  <link name="${prefix}camera">
    <collision>
      <origin xyz="0 0 -0.002115" rpy = "0 0 0"/>
      <geometry>
        <cylinder length='0.00423' radius = '0.006950'/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="0 0 -0.002115" rpy = "0 0 0"/>
      <geometry>
        <cylinder length='0.00423' radius = '0.006950'/>
      </geometry>
    </visual>
  </link>

  <link name ="${prefix}gripper">
    <collision>
      <origin xyz="-0.01 0 0" rpy = "0 0 0"/>
      <geometry>
        <box size = "0.02 0.086 0.069359"/>
      </geometry>
    </collision>

    <visual>
      <origin xyz="-0.01 0 0" rpy = "0 0 0"/>
      <geometry>
        <box size = "0.02 0.086 0.069359"/>
      </geometry>
    </visual>
  </link>

  <!-- rear left wheel joint-->
  <joint name="${prefix}rear_left_wheel_joint" type="continuous">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}rear_left_wheel"/>
    <origin xyz="-0.09355 0.136701 -0.051657" rpy="${-PI/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="1.0"/>
  </joint>

  <!-- rear right wheel joint-->
  <joint name="${prefix}rear_right_wheel_joint" type="continuous">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}rear_right_wheel"/>
    <origin xyz="-0.09355 -0.136701 -0.051657" rpy="${PI/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="1.0"/>
  </joint>

  <!-- front left wheel joint-->
  <joint name="${prefix}front_left_wheel_joint" type="continuous">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}front_left_wheel"/>
    <origin xyz="0.08145 0.136701 -0.051657" rpy="${-PI/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="1.0"/>
  </joint>

  <!-- front right wheel joint-->
  <joint name="${prefix}front_right_wheel_joint" type="continuous">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}front_right_wheel"/>
    <origin xyz="0.08145 -0.136701 -0.051657" rpy="${PI/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="1.0"/>
  </joint>

  <!-- Lidar joint-->
  <joint name="${prefix}lidar_link_joint" type="fixed">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}laser"/>
    <origin xyz = "0.01435 0 0.176" rpy = "0 0 0"/>
  </joint>

  <!-- Camera Servo Joint-->
  <joint name="${prefix}camera_servo_joint" type="continuous">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}camera_servo"/>
    <origin xyz = "0.098162 -0.0035 0.110597" rpy = "${3*PI/2} 0 0"/>
    <axis xyz="0 0 1"/>
    <limit effort="100" velocity="1.0"/>
  </joint>

  <!-- Camera Joint -->
  <joint name="${prefix}camera_joint" type="fixed">
    <parent link="${prefix}camera_servo"/>
    <child link="${prefix}camera"/>
    <origin xyz = "0.006875 -0.018448 -0.0125" rpy = "0 ${PI/2} 0"/>
  </joint>

  <!-- Gripper Joint -->
  <joint name="${prefix}gripper_joint" type="fixed">
    <parent link="${prefix}base_link"/>
    <child link="${prefix}gripper"/>
    <origin xyz = "0.15955 0 0.0049" rpy = "0 0 0"/>
  </joint>
  </xacro:macro>

</robot>
