<?xml version="1.0"?>
<robot name= "AruBot">
    <link name = "base_link">
        <visual>
            <geometry>
                <box size = "0.2513 0.2 0.005" />
            </geometry>
            <origin xyz = "0 0 -0.0025" rpy = "0 0 0"/>
            <material name="blue">
                <color rgba="0 0 1 1"/>
            </material>
        </visual>
    </link>

    <link name = "rear_left_wheel">
        <visual>
            <geometry>
                <cylinder radius = "0.0325" length = "0.029"/>    
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
        </visual>
    </link>

    <link name = "rear_right_wheel">
        <visual>
            <geometry>
                <cylinder radius = "0.0325" length = "0.029"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
        </visual>
    </link>

    <link name = "front_left_wheel">
        <visual>
            <geometry>
                <cylinder radius = "0.0325" length = "0.029"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
        </visual>
    </link>

    <link name = "front_right_wheel">
        <visual>
            <geometry>
                <cylinder radius = "0.0325" length = "0.029"/>
            </geometry>
            <origin xyz = "0 0 0" rpy = "0 0 0"/>
        </visual>
    </link>

    <joint name = "base_link_rear_left_wheel" type = "continuous">
        <parent link = "base_link"/>
        <child link = "rear_left_wheel"/>
        <origin xyz = "-0.08355 0.136701 -0.051657" rpy = "-1.57 0 0"/>
        <axis xyz = "0 0 1"/>
    </joint>

    <joint name = "base_link_rear_right_wheel" type = "continuous">
        <parent link = "base_link"/>
        <child link = "rear_right_wheel"/>
        <origin xyz = "-0.08355 -0.136701 -0.051657" rpy = "-1.57 0 0"/>
        <axis xyz = "0 0 1"/>
    </joint>

    <joint name = "base_link_front_left_wheel" type = "continuous">
        <parent link = "base_link"/>
        <child link = "front_left_wheel"/>
        <origin xyz = "0.07145 0.136701 -0.051657" rpy = "-1.57 0 0"/>
        <axis xyz = "0 0 1"/>
    </joint>

    <joint name = "base_link_front_right_wheel" type = "continuous">
        <parent link = "base_link"/>
        <child link = "front_right_wheel"/>
        <origin xyz = "0.07145 -0.136701 -0.051657" rpy = "-1.57 0 0"/>
        <axis xyz = "0 0 1"/>
    </joint>
</robot>